body{
        margin:0;
        padding:0;
        font-family:'Chilanka', sans-serif;
        background:#333;
      }
      .container{
        width:400px;
        height:340px;
        margin:100px auto;
        background:#258f6c;
        border-radius:8px;
        box-shadow: 2px 2px 15px 3px rgba(0,0,0,0.5);
      }
      .formStyle{
        text-align: center;
      }
      .border{
        height:100px;
        border-radius:8px 8px 50% 50%;
        background:#2115cf;
      }
      .iconLogin{
        border:1px solid #fff;
        border-radius:80px;
        width:80px;
        height:80px;
        margin:0 auto;
        transform: translateY(50px);
        background:linear-gradient(to right bottom, #5685d1, #419c90);
        box-shadow: 2px 2px 15px 3px rgba(0,0,0,0.5);
      }
      .fa-user{
        font-size:35px;
        color:#fff;
        margin-top:18px;
      }
      .myForm{
        width:300px;
        margin:0 auto;
        margin-top:30px;
        margin-bottom:10px;
        padding:10px;
      }
      #username{
        border:1px solid #fff;
        border-radius:5px;
        background:transparent;
        padding:8px 3px;
        margin:5px 0;
        width:220px;
        color:#fff;
        font-family:'Chilanka', sans-serif;
      }
      #pass{
        border:1px solid #fff;
        border-radius:5px;
        background:transparent;
        padding:8px 3px;
        margin:5px 0;
        width:220px;
        color:#fff;
        font-family:'Chilanka', sans-serif;
      }
      #login{
        border:1px solid #fff;
        border-radius:5px;
        background:transparent;
        padding:8px 30px;
        margin:5px 0;
        color:#fff;
        font-family:'Chilanka', sans-serif;
      }
      .createAccount{
        width:300px;
        margin:5px auto;
        padding: 10px;
        color:#fff;
      }
      .createAccount a{
        text-decoration:none;
        color:#000;
        transition:color .50s;
      }
      .createAccount a:hover{
        color:#fff;
      }
      .reg{
        transform: translateY(-440px);
        display: none;
      }
      .creator{
        width:200px;
        margin:0 auto;
      }